.wrapper{
    margin: 0 auto;
    width: 980px;
    padding: 0 87px;
    position: relative;
    font-family: 'Arial Narrow'; 
}

.header-carousel{

}
.footer-carousel{

}

.form-col-2-item{
    position: absolute;
    left: 90px;
    max-width: 110px;
}

.explore-button{
    margin: 20px; 
}
    
.search-panel{
    width: 35%;
    background: lightgray;
}

.business-location-panel{
    background: lightgray;
}

.result-panel{
    width: 65%;
    background: whitesmoke;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black; 
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

.header{
    height: 90;  
    margin: auto;  
    display: block; 
    box-sizing: border-box;
}

.embedded-frame
{
    margin: 0px;
}

.header-items{
    float: right; 
    display: block;
} 

.header-text-item{
    list-style: none; 
    display: inline-block; 
    padding: 20px 10px;
    
}

.header-text-anchor{
    position:relative; 
    color: #000; 
    text-transform: uppercase; 
    text-decoration: none; 
    cursor: pointer;
} 

.header-image-item{
    list-style: none; 
    display: inline-block;
} 

.header-image{
    margin-top: 10px;
    width: 30;
    height: 30;
} 

.content {
    display: grid;
    grid-template-rows: 240px 240px 240px;
    grid-template-columns: 300px 660px;
    row-gap: 1px;
    column-gap: 20px;
}

.content-video{
    width: 300px;
    height: 170px;
}

.content-video-1{
    grid-column: 1;
    grid-row: 1;
}

.content-video-3{
    grid-column : 1;  
    grid-row: 2; 
}

.content-video-3{
    grid-column: 1; 
    grid-row: 3;
}

.no-margin-header{
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.content-text-banner{
    background-color : rgb(155, 139, 100);
    color: white;
    padding: 10px ;
       margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.content-text{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

#contentFrame
{
    border-style: none;
    display:block;
    width:100%;
    height: 100%;
}