.wrapper{
    margin: 0 auto;
    width: 980px;
    padding: 0 87px;
    position: relative;
    font-family: 'Arial Narrow'; 
}

.header-carousel{

}
.footer-carousel{

}

.header{
    height: 90;  
    margin: auto;  
    display: block; 
    box-sizing: border-box;
}

.header-items{
    float: right; 
    display: block;
} 

.header-text-item{
    list-style: none; 
    display: inline-block; 
    padding: 20px 10px;
    
}

.header-text-anchor{
    position:relative; 
    color: #000; 
    text-transform: uppercase; 
    text-decoration: none; 
    cursor: pointer;
} 

.header-image-item{
    list-style: none; 
    display: inline-block;
} 

.header-image{
    width: 30;
    height: 30;
} 

.content {
    display: grid;
    grid-template-rows: 240px 240px 240px;
    grid-template-columns: 300px 660px;
    row-gap: 1px;
    column-gap: 20px;
}

.content-video{
    width: 300px;
    height: 170px;
}

.content-video-1{
    grid-column: 1;
    grid-row: 1;
}

.content-video-3{
    grid-column : 1;  
    grid-row: 2; 
}

.content-video-3{
    grid-column: 1; 
    grid-row: 3;
}

.no-margin-header{
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.content-text-banner{
    background-color : darkgray;
    color: white;
    padding: 10px ;
       margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.content-text{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}